<form action="", method="post">
    {% csrf_token %}
    <table>
    <tr>
        <td>
            isbn
        </td>
        <td>
            {{ form.isbn }}
        </td>
    </tr>

    <tr>
        <td>
            Title
        </td>
        <td>
            {{ form.title }}
        </td>
    </tr>
    
    <tr>
        <td>
            Author
        </td>
        <td>
            {{ form.author }}
        </td>

    </tr>
        
    <tr>
        <td>Genres</td>
        <td>{{ form.genre }}</td>
    </tr>

    <tr>
        <td>Publisher</td>
        <td>{{ form.publisher }}</td>
    </tr>

    <tr>
        <td>Language</td>
        <td>{{ form.language }}</td>
    </tr>

    <tr>
        <td>Edition</td>
        <td>{{ form.edition }}</td>
    </tr>

    <tr>
        <td>Summary</td>
        <td>{{ form.summary }}</td>
    </tr>

    <tr>
        <td>Number of copies</td>
        <td>{{ form.copy_count }}</td>
    </tr>            
    </table>
    <button type="submit" value="Submit">Submit</button>

</form>