<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: cornflowerblue;
            color: white;
            font-family: 'Courier New', Courier, monospace
        }
        /* h1 {
            color: white;
            font-family: 'Courier New', Courier, monospace
        } */
    </style>

</head>
<body>
    {% block heading %}<h1>This is the Library Management App!</h1>{% endblock %}
    <!-- <label for="book-search">Author</label>
    <input type="text" id="book-search"> -->
</body>
</html>
